@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  src: url("../fuentes/Disket-Rostype/Disket-Mono-Regular.ttf");
  font-family: Disket;
  font-weight: normal; }

@font-face {
  src: url("../fuentes/Disket-Rostype/Disket-Mono-Bold.ttf");
  font-family: Disket;
  font-weight: bold; }

@font-face {
  src: url("../fuentes/PPTelegraf/PPTelegraf-Regular.otf");
  font-family: PPTelegraf;
  font-weight: normal; }

@font-face {
  src: url("../fuentes/PPTelegraf/PPTelegraf-UltraBold.otf");
  font-family: PPTelegraf;
  font-weight: bold; }

.header-mobile {
  display: none;
  position: relative;
  height: 50px;
  z-index: 3; }
  .header-mobile .nav-logo {
    width: 120px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; }

.background-active {
  background-color: #eac291; }

.nav-menu {
  position: absolute;
  top: -200px;
  width: 100%;
  padding-bottom: 5px;
  background-color: #eac291;
  transition: top 0.7s ease-in-out;
  z-index: 2; }
  .nav-menu li {
    width: 100%;
    height: 30px;
    font-size: 2rem;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
    font-weight: 600; }
  .nav-menu li a {
    width: 100%;
    height: inherit;
    padding: 0;
    text-align: center;
    text-decoration: none; }
  .nav-menu li a:hover {
    color: #ae3446; }

.mostrar-nav {
  top: 50px; }

.nav-toggle {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer; }

span.icon-bar {
  position: absolute;
  right: 12px;
  display: block;
  width: 26px;
  height: 2px;
  background-color: #f5f1f0;
  box-shadow: 0 0 2px rgba(26, 27, 30, 0.8); }

.icon-bar:nth-child(1) {
  top: 17px; }

.icon-bar:nth-child(2) {
  top: 24px; }

.icon-bar:nth-child(3) {
  top: 31px; }

span.icon-bar {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* ICON BARS ANIMATION */
.nav-toggle.active .icon-bar:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active .icon-bar:nth-child(2) {
  width: 0; }

.nav-toggle.active .icon-bar:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media (max-width: 768px) {
  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.footer {
  width: 100%;
  border-top: 1px solid #3c3c3c; }

.footer-contenedor {
  margin: 0 auto; }
  .footer-contenedor .footer-contenedor__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; }

.acerca-footer {
  font-size: 1.8rem; }

.logo-footer {
  width: 160px; }

.footer-contenedor__redes {
  display: flex;
  gap: 30px; }

.redes__icono-footer {
  width: 30px; }

.footer-contenedor__pie {
  text-align: right;
  padding-bottom: 20px;
  font-size: 1.2rem; }

@media (max-width: 576px) {
  .footer-contenedor__redes {
    gap: 10px; } }

@media (max-width: 480px) {
  .footer-contenedor .footer-contenedor__contenido {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around; } }

html {
  font-size: 62.25%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.width-chico {
  width: 400px; }

a:hover {
  color: inherit; }

/* General */
.main-contenedor {
  margin: 0 auto;
  width: 100%; }

.width-pagina {
  max-width: 1300px; }

.padding-pagina {
  padding: 0 20px; }
  @media (max-width: 768px) {
    .padding-pagina {
      padding: 0 10px; } }
  @media (max-width: 576px) {
    .padding-pagina {
      padding: 0 6px; } }

.separador, .separador--grande, .separador--chico {
  font-family: 'PPTelegraf';
  font-weight: bold;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 20px;
  background-color: #1a1b1e;
  background-repeat: repeat;
  color: #f5f1f0;
  text-transform: uppercase; }

.separador--grande {
  font-size: 2rem;
  margin-bottom: 10px; }

.separador--chico {
  font-size: 1.8rem;
  margin-bottom: 5px; }

/* termina General */
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgba(47, 67, 83, 0.5);
  background-repeat: repeat;
  background-size: 100% 100%;
  background-image: -webkit-linear-gradient(bottom right, #c5ffa8 0%, #b9ffe7 74%);
  background-image: -o-linear-gradient(bottom right, #c5ffa8 0%, #b9ffe7 74%);
  background-image: linear-gradient(to top left, #c5ffa8 0%, #b9ffe7 74%); }

header nav {
  display: none; }

.main-header {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  margin: 30px 0 30px; }

.main-header__presentacion {
  display: grid;
  align-items: center;
  justify-items: center; }
  .main-header__presentacion .presentacion__texto {
    width: 80%;
    font-size: 2rem;
    font-weight: lighter;
    color: rgba(47, 67, 83, 0.5);
    text-transform: uppercase; }

/* index.html */
/* menu  */
.menu-hero {
  display: grid;
  max-width: 100%;
  width: 100%;
  height: 84vh;
  max-height: 850px;
  margin-top: 30px; }

.menu {
  width: 260px;
  height: max-content;
  padding: 8px 0;
  text-align: center;
  border: 3px solid #3c3c3c;
  background: #eac291;
  background-image: url("../img/texturas/noise.png");
  background-blend-mode: multiply;
  background-repeat: repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
  line-height: normal; }
  .menu .menu__logo {
    width: 90%; }
    .menu .menu__logo .logo {
      filter: brightness(0); }
      .menu .menu__logo .logo:hover {
        filter: none; }
  .menu .menu__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2.5rem;
    letter-spacing: -1.5px; }
    .menu .menu__links li {
      text-align: center;
      text-transform: uppercase; }
      .menu .menu__links li a {
        font-family: 'PPTelegraf';
        font-weight: bold; }
    .menu .menu__links li a:hover {
      color: #ae3446; }

/* fin menu */
/* hero */
.hero {
  max-width: 100vw;
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center; }

.hero__titulo {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: #eac291;
  animation: hero-titulo 10s infinite;
  font-family: "Press Start 2P";
  padding: 3px;
  border: 2px solid #c8cfb1;
  background-color: rgba(29, 170, 182, 0.6); }

.hero img {
  max-width: 800px;
  width: 100%; }

@keyframes hero-titulo {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(360deg); }
  100% {
    transform: rotateY(0deg); } }

.logo {
  filter: brightness(0); }

.logo:hover {
  filter: none; }

/* fin hero */
/* subtemas y novedades */
#subtemas-novedades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom: 100px;
  height: max-content; }
  #subtemas-novedades__subtemas {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center; }

/* subtemas */
.subtemas__caja {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #3c3c3c;
  overflow: hidden;
  /* efectos subtema*/
  /* fin efectos subtema*/ }
  .subtemas__caja a {
    display: block;
    width: 100%;
    height: 100%; }
  .subtemas__caja--titulo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: min-content;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: rgba(29, 170, 182, 0.6);
    padding: 10px;
    z-index: 2; }
  .subtemas__caja--fondo {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-duration: 4s;
    animation-timing-function: linear;
    z-index: 1; }
  .subtemas__caja:hover a .subtemas__caja--fondo {
    animation-name: aparicion; }

@keyframes aparicion {
  0% {
    transform: scale(1);
    opacity: 0; }
  50% {
    opacity: 0.8; }
  75% {
    opacity: 0.4; }
  100% {
    transform: scale(2);
    opacity: 0; } }

#subtema-artistas {
  background: linear-gradient(90deg, #1a1b1e 0%, #eac291 50%, #1a1b1e 100%);
  background-size: contain;
  background-repeat: no-repeat; }
  #subtema-artistas a {
    background: url("../img/artistas/toriena-sin-fondo.png");
    background-size: 42% auto;
    background-repeat: no-repeat;
    background-position: 50% 18%; }
  #subtema-artistas .subtemas__caja--fondo {
    background-image: url("../img/artistas/toriena-sin-fondo.png");
    background-size: 45% auto;
    background-repeat: no-repeat;
    background-position: 50% 18%; }

#subtema-software {
  background: url("https://cdn.korg.com/ar/products/upload/df5e801242c7b1f9e7a0f2c7ac4f3e68_pc.png"), linear-gradient(36deg, #1a1b1e 0%, #ae3446 37%, #2749bf 100%);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom; }
  #subtema-software .subtemas__caja--fondo {
    background-image: url("https://cdn.korg.com/ar/products/upload/df5e801242c7b1f9e7a0f2c7ac4f3e68_pc.png");
    background-repeat: no-repeat;
    background-position: bottom; }

/* sección novedades */
#subtemas-novedades__novedades {
  height: inherit;
  display: grid;
  grid-template-rows: auto 300px; }

#novedades__noticias {
  position: relative;
  align-self: end;
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  border: 0.7px solid #000;
  border-bottom: 2px solid #000; }
  #novedades__noticias li {
    width: 100%; }

.noticias__caja {
  display: flex;
  justify-content: space-between;
  background-blend-mode: multiply;
  width: 100%;
  border: 1px solid #1a1b1e;
  padding: 18px;
  gap: 5px; }
  .noticias__caja .caja-texto {
    display: inline; }
    .noticias__caja .caja-texto img {
      float: right;
      border: 1px solid #1a1b1e;
      margin: 0 0 4px 4px; }
    .noticias__caja .caja-texto h4 {
      font-size: 1.6rem;
      text-align: justify;
      background-color: #f7c7c9; }
    .noticias__caja .caja-texto p {
      font-size: 1.4rem;
      text-align: justify; }
  .noticias__caja:hover {
    background-image: url("../img/texturas/noise.png");
    background-color: #f7c7c9; }
  .noticias__caja:hover .caja-texto h4 {
    background-color: rgba(252, 139, 140, 0.6); }

/* termina sección novedades */
/* catalogo.html */
.mostrar-solapa {
  z-index: 2; }

.borde-solapa-activa {
  border-bottom: none !important;
  padding-bottom: 1px; }

.catalogo-contenedor {
  margin-top: 60px; }

.solapas {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: min-content;
  border: 1px solid #1a1b1e;
  margin-bottom: 40px; }

.solapa {
  position: relative;
  padding: 30px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #f5f1f0; }
  .solapa .solapa__nombre {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 36px;
    width: 150px;
    top: -36px;
    right: -2px;
    font-size: 1.3rem;
    background-color: #f5f1f0;
    border: 1px solid #1a1b1e;
    cursor: pointer; }
  .solapa .solapa__contenido {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 5px;
    justify-items: center; }
  .solapa .contenido__producto {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.1s;
    background-color: rgba(86, 85, 83, 0);
    padding: 0 3px 10px;
    margin: 5px 0;
    border: 2px dashed rgba(252, 139, 140, 0.6); }
    .solapa .contenido__producto img {
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .solapa .contenido__producto h4 {
      font-size: 2.2rem;
      color: #f5f1f0;
      -webkit-text-stroke-width: 1.4px;
      -webkit-text-stroke-color: #1a1b1e;
      transform: skewX(-18deg); }
  .solapa .contenido__producto:hover {
    border: 2px dashed #ae3446; }
  .solapa .contenido__producto--info {
    overflow: scroll;
    height: 40px;
    border-top: 1px dashed #f7c7c9; }
  .solapa .contenido__producto p {
    font-size: 1.6rem; }

#solapa-1 .solapa__nombre {
  right: 449px; }

#solapa-2 .solapa__nombre {
  right: 299px; }

#solapa-3 .solapa__nombre {
  right: 149px; }

#solapa-4 {
  z-index: 1; }
  #solapa-4 .solapa__nombre {
    right: -1px; }

/* soporte.html;               soporte.html;                soporte.html*/
/*sección de preguntas frecuentes*/
#presentacion-filtros {
  width: 100%;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem; }

.filtros {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .filtros li {
    display: flex;
    flex-flow: column;
    width: min-content;
    align-items: center;
    text-align: center;
    margin: 0 0.5rem; }
    .filtros li label {
      display: block;
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-bottom: 5px; }
    .filtros li div {
      display: flex;
      align-content: center;
      background-color: #f5f1f0;
      border: 2px solid rgba(26, 27, 30, 0.8);
      width: min-content;
      border-radius: 5px; }
      .filtros li div .btn {
        background-color: rgba(29, 170, 182, 0.4);
        border: 2px solid #f5f1f0;
        border-radius: 5px;
        height: 24px;
        width: 48px; }
        .filtros li div .btn:hover {
          background-color: rgba(29, 170, 182, 0.6); }
      .filtros li div .btn-active {
        background-color: rgba(29, 170, 182, 0.6);
        transform: scale(0.9); }
  .filtros .filtros--linea {
    background-color: rgba(26, 27, 30, 0.8);
    opacity: 1;
    width: 100%;
    height: 2px;
    margin-top: 0.7rem;
    align-self: start; }

#preguntas-frecuentes {
  margin: 20px 0;
  display: grid;
  justify-items: center;
  grid-row-gap: 10px; }

.preguntas-frecuentes__categoria {
  display: none; }
  .preguntas-frecuentes__categoria .preguntas-frecuentes__categoria--pregunta {
    max-width: 700px;
    height: max-content;
    border: solid 1px rgba(60, 60, 60, 0.5);
    border-radius: 5px;
    margin-bottom: 10px; }

.categoria-visible {
  display: grid; }

.pregunta__titulo {
  padding: 10px;
  border-radius: inherit;
  font-size: 1.6rem;
  border-bottom: 1px solid #1a1b1e; }

.pregunta__respuesta {
  padding: 10px;
  border-radius: inherit; }
  .pregunta__respuesta p {
    font-size: 1.4rem; }

/*sección de Contactanos*/
#contacto__contenido {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-column-gap: 10px;
  margin: 20px 0; }

#contenido__formulario {
  display: grid;
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  grid-row-gap: 5px;
  font-size: 1.6rem;
  border: 1px solid rgba(60, 60, 60, 0.5); }
  #contenido__formulario textarea {
    resize: none; }

.formulario__btn {
  width: 150px;
  justify-self: center; }

#info__texto {
  font-size: 1.6rem;
  line-height: 30px;
  padding-top: 20px;
  padding-left: 20px; }

/* artistas.html    */
.articulo-principal {
  width: 100%;
  height: 600px;
  display: grid;
  align-items: end;
  justify-items: start;
  background-color: black;
  background-image: url("../img/artistas/toriena.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat; }
  .articulo-principal:hover .articulo-principal__info p {
    background-color: #1a1b1e;
    justify-content: space-between;
    background-blend-mode: multiply;
    background-image: url("../img/texturas/noise.png"); }
  .articulo-principal .articulo-principal__info {
    width: 70%;
    margin: 20px;
    color: #f0f0f0; }
    .articulo-principal .articulo-principal__info h4 {
      display: block;
      font-size: 2.2rem; }
    .articulo-principal .articulo-principal__info p {
      display: inline;
      font-size: 1.8rem;
      background-color: rgba(20, 20, 20, 0.5); }

/* sección de articulos */
.articulos-artistas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 10px;
  margin: 60px 0;
  justify-content: space-between; }
  .articulos-artistas .articulos-artistas__articulo {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    padding-bottom: 5px; }
    .articulos-artistas .articulos-artistas__articulo:hover {
      background-color: #f5f1f0;
      justify-content: space-between;
      background-blend-mode: multiply;
      background-image: url("../img/texturas/noise.png"); }
    .articulos-artistas .articulos-artistas__articulo img {
      width: 100%;
      display: inline-block; }
    .articulos-artistas .articulos-artistas__articulo h4 {
      display: inline-block;
      font-size: 2rem;
      background-color: #1a1b1e;
      color: #faf1fa;
      margin: 4px 0; }
    .articulos-artistas .articulos-artistas__articulo p {
      display: inline-block;
      font-size: 1.6rem;
      text-align: justify; }

/* acerca.html                 acerca.html                acerca.html*/
.texto-korg {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  margin: 0 auto;
  justify-content: start;
  text-align: justify; }
  .texto-korg p {
    font-size: 2rem;
    line-height: 3rem; }

.acerca-vinculos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 40px 0; }
  .acerca-vinculos .acerca-vinculos__vinculo a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; }
  .acerca-vinculos .acerca-vinculos__vinculo h4 {
    display: inline;
    font-size: 1.5rem;
    background-color: #d2d2d2; }
  .acerca-vinculos .acerca-vinculos__vinculo:hover h4 {
    color: #d2d2d2;
    background-color: #1a1b1e; }
  .acerca-vinculos .acerca-vinculos__icono {
    width: 180px;
    height: 180px;
    position: relative;
    background-position: center;
    background-size: cover; }

#perfil-corporativo .acerca-vinculos__icono {
  background-image: url("../img/iconos/icono-perfil-corporativo.png"); }

#distribuidores .acerca-vinculos__icono {
  background-image: url("../img/iconos/icono-distribuidores.png"); }

#condiciones .acerca-vinculos__icono {
  background-image: url("../img/iconos/icono-condiciones.png"); }

@media (max-width: 992px) {
  #subtemas-novedades {
    display: grid;
    grid-template-columns: 1fr; } }

@media (max-height: 600px) and (orientation: landscape) {
  .menu-hero {
    height: 1000px; } }

@media (min-width: 768px) and (max-width: 992px) {
  /* index.html */
  .menu-hero {
    height: 95vh; }
  #subtemas-novedades__subtemas {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    margin-bottom: 100px; }
  /* fin index.html */
  .menu {
    width: 230px; }
    .menu .menu__links {
      font-size: 2.3rem; } }

@media (max-width: 768px) {
  /* header */
  header nav {
    display: block; }
  .menu {
    display: none; }
  .main-header__presentacion .presentacion__texto {
    width: 100%;
    justify-content: start; }
  /* fin header */
  /* index.html */
  .menu-hero {
    height: 55vh;
    margin-bottom: 50px; }
    .menu-hero .hero {
      height: min-content; }
      .menu-hero .hero img {
        width: 100%;
        max-width: 680px; }
      .menu-hero .hero .hero__titulo {
        font-size: 1.5rem; }
      .menu-hero .hero .hero-link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2; }
  /* fin index.html */
  .solapa {
    padding: 30px 0; }
    .solapa .solapa__contenido {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); }
    .solapa .contenido__producto {
      max-width: 550px; }
      .solapa .contenido__producto img {
        width: 495px;
        height: 330px; }
      .solapa .contenido__producto h4 {
        font-size: 2.4rem; }
    .solapa .solapa__nombre {
      width: 120px; }
  #solapa-1 .solapa__nombre {
    right: 359px; }
  #solapa-2 .solapa__nombre {
    right: 239px; }
  #solapa-3 .solapa__nombre {
    right: 119px; }
  #solapa-4 .solapa__nombre {
    right: -1px; }
  .filtros {
    width: 100%; }
  #contacto__contenido {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 10px;
    margin: 20px 0; }
    #contacto__contenido form {
      width: 100%;
      justify-self: center;
      margin-bottom: 40px;
      max-height: 600px; }
  .texto-korg {
    grid-auto-flow: row; }
    .texto-korg p {
      font-size: 1.8rem; }
  .acerca-vinculos .acerca-vinculos__icono {
    width: 150px;
    height: 150px; }
  .articulos-artistas {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
  .articulo-principal {
    height: 400px; }
    .articulo-principal .articulo-principal__info {
      width: 80%;
      margin: 20px;
      color: #f0f0f0; }
      .articulo-principal .articulo-principal__info h4 {
        font-size: 2rem; }
      .articulo-principal .articulo-principal__info p {
        font-size: 1.6rem; }
  /* footer */
  .redes__icono-footer {
    width: 25px; }
  .logo-footer {
    max-width: 120px; }
  /* fin footer */ }

@media (max-width: 576px) {
  .hero {
    height: 400px; }
  #subtemas-novedades__subtemas {
    height: min-content;
    margin-bottom: 2vh; }
  #subtemas-novedades__novedades {
    height: inherit;
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 30px; }
  .solapa {
    justify-items: center; }
    .solapa .solapa__contenido {
      grid-template-columns: 1fr; }
    .solapa .contenido__producto {
      max-width: 400px; }
      .solapa .contenido__producto img {
        max-width: 100%;
        height: auto; }
    .solapa .solapa__nombre {
      width: 120px; }
  .solapa .solapa__nombre {
    width: 90px; }
  #solapa-1 .solapa__nombre {
    right: 269px; }
  #solapa-2 .solapa__nombre {
    right: 179px; }
  #solapa-3 .solapa__nombre {
    right: 89px; }
  #solapa-4 .solapa__nombre {
    right: -1px; }
  .acerca-vinculos .acerca-vinculos__vinculo h4 {
    font-size: 1.3rem; }
  .acerca-vinculos .acerca-vinculos__icono {
    width: 130px;
    height: 130px; }
  .articulos-artistas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 60px 0;
    justify-content: center; }
  .articulo-principal {
    height: 300px;
    background-size: cover; }
    .articulo-principal .articulo-principal__info {
      width: 80%;
      margin: 20px;
      color: #f0f0f0; }
      .articulo-principal .articulo-principal__info h4 {
        font-size: 3rem; }
      .articulo-principal .articulo-principal__info p {
        display: none; }
  .articulos-artistas {
    padding: 0 40px; }
    .articulos-artistas .articulos-artistas__articulo p {
      font-size: 1.4rem; } }

@media (max-width: 480px) {
  .menu-hero {
    height: 40vh; }
  .catalogo-contenedor {
    margin-top: 155px; }
  .solapa .solapa__nombre {
    height: 150px;
    width: 36px;
    top: -150px;
    letter-spacing: -6px;
    text-orientation: upright;
    writing-mode: vertical-lr; }
  #solapa-1 .solapa__nombre {
    right: 107px; }
  #solapa-2 .solapa__nombre {
    right: 71px; }
  #solapa-3 .solapa__nombre {
    right: 35px; }
  #solapa-4 .solapa__nombre {
    right: -1px; }
  .articulos-artistas {
    padding: 0 20px; } }
