$header-height:50px;


.header-mobile {
  display:none;
	position:relative;
	height:$header-height;
  z-index:3;

  .nav-logo {
    width:120px;
    line-height:$header-height;
    // padding:0 20px;
    color:#ffffff;
    font-weight:700;
    text-transform:uppercase;
  }
}
.background-active {
  background-color:$dorado;
}

.nav-menu {
  position:absolute;
  top:-200px;
  width:100%;
  padding:0;
  background-color:$dorado;
  transition:top 0.7s ease-in-out;
  // visibility: hidden;
  z-index:2;
  li {
    width:100%;
    height:30px;
    font-size:2rem;
    padding:5px 0 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  li a {
    width:100%;
    height:inherit;
    padding:0;
    text-align:center;
    text-decoration:none;
  }
  li a:hover {
    background-color:#1c1c1c;
  }
}

.mostrar-nav {
  top:$header-height;
}

.nav-toggle {
  display:block;
  position:relative;
	width:50px;
	height:$header-height;
	cursor:pointer;
}

span.icon-bar{
	position:absolute;
	right:12px;
	display:block;
	width:26px;
	height:2px;
	background-color:#ffffff;
}
.icon-bar:nth-child(1){
  top:17px;
}
.icon-bar:nth-child(2){
  top:24px;
}
.icon-bar:nth-child(3){
  top:31px;
}

span.icon-bar{
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/* ICON BARS ANIMATION */

.nav-toggle.active .icon-bar:nth-child(1) {
	top:24px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2) {
	width:0;
}
.nav-toggle.active .icon-bar:nth-child(3) {
	top:24px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media (max-width:768px) {
  .header-mobile {
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
}
